<% content_for :page_title, "Thank" %>

<article>
  <header>
    <h1>Thanks <%= params[:group_name]%></h1>
  </header>

  <% if params[:response] == "yes" %>

    <p class="intro">We’re really looking forward to seeing you on the 30th June. If you have any questions beforehand, please let us know.</p>

  <% else %>

    <p class="intro">Sorry that you can’t make it. We hope to see you some other time soon.</p>

  <% end %>

</article>