<% content_for :page_title, "The Robertos" %>
<div class="promo">
  <h1>The Robertos</h1>

  <p>We are <%= link_to "Frankie Roberto", "http://www.frankieroberto.com" %> and <%= link_to "Fiona Roberto", "http://fstewart.wordpress.com" %>.</p>

  <p>We got <%= link_to "married", wedding_path %> and then <%= link_to "travelled around Europe", europe2013_path %> and are now freelancing in London.</p>
</div>