<% content_for :page_title, "Accommodation for Frankie & Fiona's Wedding" %>

<h1>Accommodation</h1>

<h2>Camping</h2>

<p>You are more than welcome to join us in camping in the private field alongside the barns. As well as the Saturday night, you can join us for the Friday night if you like too (though you may be asked to help out with preparations!). For both nights, there is no need book and no charge - simply let us know you will be camping.</p>

<p>If you'd like to extend your stay and make a holiday of it, there is a public campsite next door which you could move to on the Sunday. The campsite doesn't take bookings, but there will be ample space. The camping fees are £7 per person per night (£4 for children), with a discount of £1 per night for stays of 5 days or more.</p>

<h2>Nearby Hotels</h2>

<h3><a href="http://blah.com">Pen-y-gwryd</a></h3>

<p>This is the nearest hotel to the venue, with room rates from £50pp.</p>

<h3><a href="http://blah.com">Pen-y-gwryd</a></h3>

<p>This is the nearest hotel to the venue, with room rates from £50pp.</p>


<h2>Youth Hostel</h2>

<h2>Self-catered cottages</h2>

<p>Contact details</p>