<% content_for :page_title, "Accommodation for Frankie & Fiona's Wedding" %>

<h1>Accommodation</h1>

<h2>Camping</h2>

<p>Details</p>

<h2>Nearby Hotels</h2>

<p>List with contact details</p>

<h2>Youth Hostel</h2>

<p>Contact details</p>