<% content_for :page_title, "Accommodation for Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Accommodation</h1>
  </header>

  <p class="intro">Given the remote location, many of our guests chose to camp with us in the field alongside the barn.</p>

  <figure>
    <%= image_tag("camping_field.jpg") %>
  </figure>

  <p>Well done to all of you who did – we survived the rain &amp; the wind and were rewarded with a great view of the lake.</p>

  <p> (Hope your tents dried out ok.)</p>

</div>