<% content_for :page_title, "Accommodation for Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Accommodation</h1>
  </header>

  <p class="intro">We know that lots of you will be travelling some distance to get to this wedding, and so this page outlines some of the local <a href="http://maps.google.com/maps/ms?msid=212695573626157084440.0004a840aa7d25b47de8b&amp;msa=0">accommodation options</a>.</p>

  <figure>
    <%= image_tag("fiona_camping.jpg") %>
  </figure>

<h2>Camping</h2>

<p>You are more than welcome to join us in camping in the private field alongside the barns. As well as the Saturday night, you can join us for the Friday night if you like too (though you may be asked to help out with preparations!). For both nights, there is no need to book and no charge - simply let us know you will be camping.</p>

<p>If you'd like to extend your stay and make a holiday of it, there is a public campsite next door which you could move to on the Sunday. The campsite doesn't take bookings, but there will be ample space. The camping fees are £7 per person per night (£4 for children), with a discount of £1 per night for stays of 5 days or more.</p>

<p>There are also lots of other campsites in the area - see the <a href="http://www.walestouristsonline.co.uk/snowdonia/campsite/">Wales Tourist Online website</a> for a useful list.</p>

<h2>Nearby Hotels</h2>

<p>There are several hotels nearby, at a range of rates. Beddgelert and the Pen-y-gwryd are both less than 10 mins drive away.</p>

<h3><a href="http://www.pyg.co.uk/">Pen-y-gwryd</a></h3>

<p>This is the nearest hotel to the venue, with room rates from £50pp, including breakfast.</p>

<h3><a href="http://www.plas-tanygraig.co.uk/">Plas Tan u Graig</a></h3>

<p>In nearby Beddgelert, minimum 2 nights stay, from £82 per night based upon 2 sharing, including breakfast.</p>

<h3><a href="http://snowdonia-hotel-accommodation-wales.com/item/bryn_eglwys_country_hotel_.html">Bryn Eglwys Country House Hotel</a></h3>

<p>In nearby Beddgelert, rooms from £50 per night.</p>

<h3><a href="http://www.royalgoathotel.co.uk/index.htm">The Royal Goat Hotel</a></h3>

<p>In Beddgelert, rooms start from £45 per person per night.</p>

<h3><a href="http://www.tanronnen.co.uk/index.php">Tanronnen Inn</a></h3>

<p>In Beddgelert, rooms start from £100 per night for a double.</p>

<h3><a href="http://www.portmeirion-village.com/">Portmeirion</a></h3>

<p>Quite a bit further away, but if you're making a weekend of the trip you might want to take a look as Portmeirion is lovely.</p>

<h3><a href="http://www.aberdunant.com/">Aberdunant Country Park</a></h3>

<p>This is a little further away, 5* hotel, rooms start at £85 per night for a double room.</p>


<h2>Self-catered cottages</h2>

<h3><a href="http://www.snowdonia-cottages.net/beddgelert.html">Coed Gelert</a></h3>

<p>In Beddgelert, Coed Gelert have several houses on one site.</p>

<h3><a href="http://www.craflwyn.org/iaith/saesneg/Introduction.htm">Craflwyn</a></h3>

<p>On a National Trust property, this accommodation is for large groups. There's also a smaller cottage on the same site - <a href="http://www.nationaltrustcottages.co.uk/search/north_wales/bwthyn_mai_cottage/385">Bwthyn Mai Cottage</a>.</p>

<h3><a href="http://www.beddgelert.t15.org/">Llety and Cil-y-Felin</a></h3>

<p>Two cottages in Beddgelert.</p>

<h3><a href="http://www.snowdoniaholidayhome.co.uk/item/frondeg_cottage.html">Frondeg</a></h3>

<p>Sleeps 4, in Beddgelert.</p>

<h2>Youth Hostels</h2>

<h3><a href="http://www.yha.org.uk/find-accommodation/wales/hostels/Bryn-Gwynant/index.aspx">Bryn Gwynant</a></h3>

<p>Overlooking the same lake as the campsite, this is as close to the site as the nearest hotel.</p>

<h3><a href="http://www.yha.org.uk/find-accommodation/wales/hostels/Pen-y-Pass/index.aspx">Pen y Pass</a></h3>

<p>This hostel is quite close to the venue, and close to Snowdon.</p>

<h2>B&amp;Bs</h2>

<p>There are lots of B&amp;Bs in the area. You can find a useful list on the <a href="http://www.beddgelerttourism.com/guesthouses-bed-breakfast/">Beddgelert Tourism website</a>.</p>


</div>