<% content_for :page_title, "Frankie & Fiona's Wedding Location" %>

<article>
<h1>Location</h1>

<p class="intro">The Wedding will be held in the barns and surrounding fields of <a href="http://www.gwynant.com/">Llyn Gwynant campsite</a>, by the lake of the same name, just off the <strong>A498</strong>, between Beddgelert and the A4086. The barns are immediately on the left as you drive down the lane from the main road. There will be signs advising where to park.</p>

<p>For Sat-Nav purposes, you can try using the postcode <strong>LL55 4NW</strong>, although this may be inaccurate on some systems.</p>

<div id="google_directions">
<script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=LL55+4NW&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=300&amp;h=55&amp;title=Directions+from+Google&amp;brand=light&amp;lang=en&amp;country=GB&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script></div>

<%= image_tag("satellite_map.png") %>

</article>