<% content_for :page_title, "Frankie & Fiona's Wedding Location" %>

<article>
<h1>Location</h1>

<p class="intro">The Wedding was held in the barns and surrounding fields of <a href="http://www.gwynant.com/">Llyn Gwynant campsite</a>, by the lake of the same name, just off the <strong>A498</strong>, between Beddgelert and the A4086.</p>

<%= content_tag "figure" do %>
  <%= image_tag "satellite_map.png" %>
<% end %>

<p>We would certainly recommend it as a location for weddings and parties – it’s great space in a beautiful spot.</p>

</article>