<% content_for :page_title, "The Area of Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>The Area</h1>
  </header>

  <p class="intro">The Wedding is within the Snowdonia region of North Wales, a spectacular National Park filled with mountain ranges and valleys. There's plenty to see and do nearby, and so we can highly recommend staying a bit longer and making a holiday of it, if you fancy it.</p>

  <figure>
    <%= image_tag("snowdon_climbing.jpg") %>
  </figure>

<h2>Snowdon</h2>

<p>The highest mountain in England and Wales, Snowdon, lies immediately North-West of the campsite. The closest path up is the Watkins Path, which starts just a couple of miles down the road, between Llyn Dinas and Llyn Gywnant. For a less demanding ascent, drive around to Pen-y-Pass and follow either the Miners or Pyg tracks. For an even easier ascent, there is a small steam train which climbs to the top, starting over in Llanberis.</p>

<h2>Canoeing and Kayaking</h2>

<p>The lake by the campsite is a popular spot for watersports, and you can <a href="http://www.gwynant.com/pages/information/boats.html">hire</a> kayaks (single or double) and Canadian canoes by the hour at around £5 per person. <a href="http://www.gwynant.com/pages/information/activities.html">Tuition</a> is also available from Bob Marchant, at £35 per person per half-day. Both can be either booked in advance, or arrange on the day.</p>


</article>