<% content_for :page_title, "Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Frankie &amp; Fiona's Wedding</h1>
  </header>

  <figure>
    <%= image_tag("frankie_and_fiona_roberto_just_married.jpg") %>
  </figure>

  <p class="intro">Hello. We got married on 30th June 2012. Thanks to all those that came!</p>

  <p>We had a great time, despite the occasional torrential downpour, and loved the location.</p>

  <p>Our favourite memories of the day include the rained-off rounders match, standing around the log fire, beating the piñata, and lighting sparklers at midnight. But most of all we loved being surrounded by friends and family from near and afar.</p>

</article>