<% content_for :page_title, "Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Frankie &amp; Fiona's Wedding</h1>
  </header>

  <figure>
    <%= image_tag("provence.jpg") %>
  </figure>

  <p class="intro">Hello. We’re getting married on 30th June 2012 at 3pm. You’ll know that from the card we sent you, but we’re still excited about having set a date so we thought we’d say it again.</p>

  <p>The wedding will be in the foothills of Snowdon. Whilst it is on a campsite, there is a listed barn for the ceremony. We love the place - the barn is at the top of a hill which slopes down to Llyn Gwynant. So there’s lots of outdoor space too. As Fiona grew up in Wales and Frankie spent his childhood holidays there, we know that it might rain. We’ll plan for all eventualities. But you might want to dig out those wellies, just in case...</p>

  <p>We’ve put together some information on accommodation, as we’re sure that some people will want to get that sorted out quite soon. It is a popular holiday area, so if you can make it it’s a good idea to book early. But of course, you can always camp. Snowdonia is amazing, so we’ve also provided some info on the area for those who don’t know it, in case you want to do any exploring while you’re there.</p>

  <p>We’ll be updating this website quite a bit, but we’ll email you to let you know anything that you need to know.</p>

  <p>We hope that you’re free on 30th June, we’re really excited and would love you to be there.</p>
</article>