<% content_for :page_title, "Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Frankie &amp; Fiona's Wedding</h1>
  </header>

  <figure>
    <%= image_tag("provence.jpg") %>
  </figure>

  <p class="intro">Hello. We got married on 30th June 2012. Thanks to all those that came!</p>

  <p>We had a great time, despite the occasional torrential downpour, and loved the location.</p>

</article>