<% content_for :page_title, "Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Frankie &amp; Fiona's Wedding</h1>
  </header>

  <figure>
    <%= image_tag("provence.jpg") %>
  </figure>

  <p class="intro">Hello. We’re getting married on 30th June 2012 at 3pm. We’d be delighted if you could join us.</p>

  <p>The wedding will take place in a listed barn on a campsite at the foothill of Snowdon. We love the place – the barn is at the top of a hill which slopes down to a lake called Llyn Gwynant, so there’s lots of outdoor space.</p>

  <p>As Fiona grew up in Wales and Frankie spent his childhood holidays there, we know that it might rain. We’ll plan for all eventualities. But you might want to dig out those wellies, just in case…</p>

  <p>If you’re camping, you are welcome to arrive from 3PM on the Friday to pitch your tent. The nearest pub isn’t that near, so we advise bringing some food &amp; drink for the Friday night, unless you fancy driving into Beddgelert (ten minutes away by car).</p>

  <p>If you're staying locally elsewhere, please arrive by 3PM on Saturday for the ceremony. We've organised a minibus shuttle service for Saturday evening (going to Beddgelert and nearby hotels), so you'll only need to book a minicab to the venue (or can leave your car overnight).</p>

  <p>See you soon!</p>
</article>