<% content_for :page_title, "Frankie & Fiona's Wedding" %>

<article>
  <header>
    <h1>Frankie &amp; Fiona's Wedding</h1>
  </header>

  <figure>
    <%= image_tag("provence.jpg") %>
  </figure>

  <p class="intro">Hello. We’re getting married on 30th June 2012 at 3pm. We’d be delighted if you could join us.</p>

  <p>The wedding will be in the foothills of Snowdon. Whilst it is on a campsite, there is a listed barn for the ceremony. We love the place – the barn is at the top of a hill which slopes down to Llyn Gwynant. So there’s lots of outdoor space too. As Fiona grew up in Wales and Frankie spent his childhood holidays there, we know that it might rain. We’ll plan for all eventualities. But you might want to dig out those wellies, just in case…</p>

  <p>We’ve put together some information on accommodation. It's a popular holiday area, so if you can make it it’s a good idea to book soon. But of course, you can always camp. Snowdonia is amazing, so we’ve also provided some info on the area for those who don’t know it, in case you want to do any exploring while you’re there.</p>

  <p>We hope that you’re free on 30th June, we’re really excited and would love you to be there.</p>
</article>