<% content_for :page_title, "Frankie & Fiona - Europe 2013" %>

<article>
  <header>
    <h1>The Robertos’ Big Camp</h1>
  </header>

  <p>We went on a three month camping trip around Europe, from April - July 2013.</p>

  <p>More details soon.</p>

</article>