<% content_for :page_title, "Frankie & Fiona - Europe 2013" %>

<article>
  <header>
    <h1>Europe 2013</h1>
  </header>

  <p>We’re planning a three month camping trip around Europe this year, starting on April 9th.</p>

  <p>This little website is where we’ll post a few details about the trip and – when we get back – share some of our best experiences.</p>

</article>