<% content_for :page_title, "Schedule for Frankie & Fiona's Wedding" %>

<h1>Schedule</h1>


<table>
  <tr>
    <th>Time</th>
    <th></th>
  </tr>
  <tr>
    <th>3:00 PM</th>
    <td>The bit where we get married. Ceremony in the main barn.</td>
  </tr>
  <tr>
    <th>4:00 PM</th>
    <td>Champagne in teacups</td>
  </tr>
  <tr>
    <th>4:30 PM</th>
    <td>Fun and games. Rounders.</td>
  </tr>
  <tr>
    <th>6:00 PM</th>
    <td>BBQ feast</td>
  </tr>

</table>