<% content_for :page_title, "Schedule for Frankie & Fiona's Wedding" %>

<article>
<h1>Schedule</h1>

<p class="intro">The wedding ceremony will begin at 3PM - please arrive before then.</p>

<figure>
  <%= image_tag("trampoleen.jpg") %>
</figure>

<p>We're working on the rest...</p>

<p>This page will be updated when we've got more details.</p>


</article>
