<% content_for :page_title, "Schedule for Frankie & Fiona's Wedding" %>

<article>
<h1>Schedule</h1>

<p class="intro">The wedding ceremony took place at 3PM.</p>

<figure>
  <%= image_tag("trampoleen.jpg") %>
</figure>

<p>The ceremony was followed by champagne and canapés - including bara brith and smoked salmon blinis.</p>

<p>We then had a game of <a href="http://en.wikipedia.org/wiki/Rounders">rounders</a> in the field, which was abandoned mid-way through the second innings when the weather dramatically turned from sun to a torrential downpour.</p>

<p>Dinner was at 6PM.</p>

</article>
