<% content_for :page_title, "Schedule for Frankie & Fiona's Wedding" %>

<article>
<h1>Schedule</h1>

<p class="intro">The wedding ceremony will begin at 3PM – please arrive before then.</p>

<figure>
  <%= image_tag("trampoleen.jpg") %>
</figure>

<p>After the ceremony there will some canapés, followed by a game of <a href="http://en.wikipedia.org/wiki/Rounders">rounders</a> (weather depending).</p>

<p>Dinner will be at 6PM.</p>

<p>If the evening is warm there will be a campfire in the field outside, so we advise bringing some sort of sturdy footwear (or wellies). Otherwise there will be music and games inside the barns.</p>
<p>We expect to finish about 11ish for those planning to head back to hotels.</p>

</article>
