<!DOCTYPE html>
<html>
<head>
  <title>Therobertos</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="<%= image_path("tent.png")%>">
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Quattrocento' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
